.projects {
    background-image: url('../../images/wpprojects.jpg');
    background-position: center;
    background-repeat: repeat;
    /* background-size: cover;
    min-height: 100vh; */
     display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}

.wrapper {
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    top:0;
    position: absolute;
    font-weight: bold;
    height: auto;
    font-size: 1rem;
    padding: 8px;
    color: rgb(17, 32, 43);
    background-color: rgb(155, 215, 255);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.menuBox {
    width: 90%;
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.headerWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:row;
    border-bottom: 1px solid rgb(155, 215, 255);
    padding-bottom: 10px;
    margin-top: 80px;
}

.projectsList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 50px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(4, 437px) ;
    gap: 80px;
}

.projectsList2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 50px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-column-start: auto;
    grid-template-rows: repeat(1, 437px) ;
    gap: 80px;
}

.lastTwo {
    color:rgb(155, 215, 255);
    width: 90%;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    border-bottom: 1px solid rgb(155, 215, 255);
    padding: 20px 0;
     margin-top: 20px;
}

.project {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 250px;
    height: 437px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-image: linear-gradient(to top, rgb(8, 20, 31), rgb(51, 89, 120));
    box-shadow: 0px 4px 12px black;
    border-top: 2px solid rgb(121, 169, 209);
    cursor: pointer;
    position: relative;
}

.projectTitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(155, 215, 255);
    padding: 15px;
}

.imageBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 141px;
    /* box-shadow: inset 0px 0px 8px black;
    border-bottom: 1px solid rgb(73, 133, 173);
    border-left: 1px solid rgb(57, 114, 151);
    border-right: 1px solid rgb(1, 14, 22);
    border-top: 1px solid rgb(0, 0, 0); */
}

.image {
    width: 100%;
    height:auto;
}

.iconsBox {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
}

.icons {
    width: 220px;
    height: 23px;
}

.languagesBox {
     margin-top: 10px;
    width: 250px;
    height: auto;
}

.languages {
    list-style-type: none; 
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 6px;
    padding-left: 15px;
}

.languages > li {
    color :rgb(99, 151, 185);
    padding-bottom: 5px;
    font-size: .8rem;
}

.footer {
    display: flex;
    align-items:center;
    justify-content: center;
    width:250px;
    height: 60px;
    bottom: 0;
    position: absolute;
    border-bottom: 2px solid rgb(201, 114, 0);
    background-color: rgb(0, 0, 0);
}

.linkIcon {
    width: 50px;
    height: 20px;
    transition: .5s ease-in-out;
}

.backToTop {
    position: fixed;
    bottom: 25px;
    right: 35px;
    cursor: pointer;
    border: none;
}

.arrowTop {
width: 60px;
    height: 60px;
}

/* media queries */

@media only screen and (max-width: 1400px){
    .headerWrapper {
        flex-direction: column;
         margin-top: 30px;
    }
    .menuBox {
        margin-top: 30px;
    }
    .projectsList {
        grid-template-columns: repeat(3, 250px);
        grid-template-rows: repeat(6, 435px) ;
    }

     .projectsList2 {
        grid-template-columns: repeat(3, 250px);
        grid-template-rows: repeat(1, 435px) ;
    }
    .title {
        font-size: .8rem;
        padding: 6px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    
}

@media only screen and (max-width: 1000px){
    .projectsList {
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: repeat(8, 435px) ;
         justify-content: center;
    }
.projectsList2 {
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: repeat(2, 435px) ;
         justify-content: center;
         gap: 80px;
    }
}

@media only screen and (max-width: 700px){
    .headerWrapper {
        width: 95%;
        padding-bottom: 10px;
        /* border-bottom: 0; */
    }
    .projectsList {
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: repeat(8, 435px) ;
         justify-content: center;
         margin-top: 40px;
    }
}

@media only screen and (max-width: 650px){
    .projectsList {
        grid-template-columns: repeat(1, 250px);
        grid-template-rows: repeat(8, 435px) ;
         justify-content: center;
    }
    .projectsList2 {
        grid-template-columns: repeat(1, 250px);
        grid-template-rows: repeat(2, 435px) ;
         justify-content: center;
         gap: 80px;
    }
    .arrowTop {
      width: 40px;
      height: 40px;
  }
}
