
.about {
    background-image: url('../../images/wp5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    top:0;
    position: absolute;
    font-weight: bold;
    height: auto;
    font-size: 1rem;
    padding: 8px;
    color: rgb(17, 32, 43);
    background-color: rgb(155, 215, 255);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.textWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
   
    }

.text {
    width: 65%;
    color:rgb(138, 199, 240);
    font-size: 1.4rem;
    line-height: 1.4;
    margin-left: 30px;
    margin-right: 30px;
    border-top: 1px solid rgb(155, 215, 255);
    border-bottom: 1px solid rgb(155, 215, 255);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
     position: relative;
    z-index: 5;
}

.quotes {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: -1;
}

.quotes2 {
    position: absolute;
    bottom: 130px;
    left: 20px;
    z-index: -1;
}

.fade1 {
   opacity: .85;
     color:rgb(138, 199, 240);
    font-size: 1.4rem;
    line-height: 1.4; 
}

.quotespng {
    width: 110px;
    height: auto;
}

.fade {
    opacity: .7;
     color:rgb(138, 199, 240);
    font-size: 1.4rem;
    line-height: 1.4;
}

.fade2 {
    opacity: .4;
     color:rgb(138, 199, 240);
    font-size: 1.4rem;
    line-height: 1.4;
}

.fade3 {
    opacity: .25;
     color:rgb(138, 199, 240);
    font-size: 1.4rem;
    line-height: 1.4;
}


.readMore {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.btn {
    width: 150px;
    height: 50px;
    background-color: transparent;
    color:rgb(155, 215, 255);
    border-style: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 30px;
    border: 2px solid rgb(108, 159, 194);
    box-shadow: 0px 0px 20px rgb(0, 0, 0), 0px 0px 20px rgb(0, 0, 0);
     transition: .2s ease-in-out;
}

.btn:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 1000px){
    .quotespng {
        width: 80px;
    }
}

@media only screen and (max-width: 400px){
    .quotespng {
        width: 60px;
    }

    .quotes {
       right: 10px;
    }

    .quotes2 {
       left: 10px;
    }
}

@media only screen and (max-width: 1000px){
    .text {
        font-size: 1.2rem;
        width: 100%;
    }
    .fade, .fade1, .fade2, .fade3 {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 500px){
    .text {
        font-size: 1.1rem;
    }
   .fade, .fade1, .fade2, .fade3 {
        font-size: 1.1rem;
    }
}





