

.artContainer {
    background-image: url('../../images/wp42b.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    top:0;
    position: absolute;
    font-weight: bold;
    height: auto;
    font-size: 1rem;
    padding: 8px;
    color: rgb(17, 32, 43);
    background-color: rgb(155, 215, 255);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.headerWrapper {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:row;
    border-bottom: 1px solid rgb(155, 215, 255);
    padding-bottom: 10px;
    padding-top: 30px;
    margin-top: 50px;
}

.preview {
    width: 10rem;
     display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 1.4rem;
    background-color: rgb(0, 11, 19);
    padding: .5rem;
    border: 1px solid #9bd7ff;
}

.slides {
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 130px;
    margin-bottom: 80px;
}

.slide1, .slide2, .slide3, .slide4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width:  250px;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 4px 15px black;
} 

.titlePainting {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 42px;
    font-size: .8rem;
}

.slide {
    box-shadow: 0px 2px 10px black;
    width: 100%;
    height: auto;
}

.mywebsite {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn {
    width: 20rem;
    height: 50px;
    background-color:transparent;
    color:rgb(155, 215, 255);
    border-style: none;
    font-size: .9rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
    border: 2px solid rgb(108, 159, 194);
    box-shadow: 0px 0px 20px rgb(0, 0, 0), inset 0px 0px 25px rgb(0, 0, 0);
    transition: .2s ease-in-out;
    text-shadow: 0px 0px 4px black;
    cursor: pointer;
}

.btn:hover {
    transform:scale(1.1);
}

.arrow {
    width: 3rem;
}

.shebang1 {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.4em;
    color:rgb(155, 215, 255);
}

@media only screen and (max-width: 1400px){
    .headerWrapper {
        flex-direction: column;
         margin-top: 30px;
    }
    .header {
        width: 100%;
    }
    .webdev {
        justify-content: center;
        width: 100%;
    }
    .name {
        justify-content: center;
        width: 100%;
    }
    .title {
        font-size: .8rem;
        padding: 6px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
}

@media only screen and (max-width: 640px){
    .headerWrapper {
        width: 90%;
    }
}

@media only screen and (max-width: 1250px){
    .slides {
       grid-template-columns: 1fr 1fr ;
       grid-template-rows: 2;
    }
}

@media only screen and (max-width: 750px){
    .mywebsite {
        flex-direction: column;
        width: 80%;
    }

    .shebang1 {
        display: flex;
    align-items: center;
    justify-content: center;
        width: 80%;
    }

    .btn {
        display: flex;
    align-items: center;
    justify-content: center;
        width: 15rem;
    }
}

@media only screen and (max-width: 700px){
    .slides {
       grid-template-columns: 1fr ;
       grid-template-rows: 4;
    }
    .slides {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 700px){
    .shebang1 {
 font-size: 1.2em;
    }
}
