/* .contactForm {
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.message {
    width: 100%;
    padding: 20px 0;
    color: rgb(155, 215, 255);
    font-size: 1.4rem;
}

input::placeholder {
    color: rgb(104, 151, 185);
   font-size: 1.1rem;
}

form {
    width: 100%;
}

.name, .email {
    width: 100%;
}

.name {
    border-top: 1px solid rgb(155, 215, 255);
}

.email {
    border-top: 1px solid rgb(155, 215, 255);
    border-bottom: 1px solid rgb(155, 215, 255);
}

.email {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 250px;
    padding: 20px;
    background-color: transparent;
    border-color: rgb(155, 215, 255);
    outline: none;
    color: rgb(155, 215, 255);
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

textarea::placeholder {
    font-size: 1.1rem;
}

input {
    width: 100%;
    padding: 20px 0;
    height: auto;
    background-color: transparent;
    border-style: none;
    outline: none;
    color: rgb(155, 215, 255);
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
}

#contact {
    width: 100%;
}

.btn {
    width: 100%;
    height: 50px;
    background-color: rgb(155, 215, 255);
    font-weight: bold;
    color:rgb(17, 32, 43);
    border-style: none;
    outline: none;
    margin-top: 20px;
}

@media only screen and (max-width: 1400px){
    .contactForm {
        width: 50%;
    }
}

@media only screen and (max-width: 700px){
    .contactForm {
        width: 95%;
    }
    .message {
        padding: 10px 0 20px 0;
    }
} */
