.link {
   text-decoration: none;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.circles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.circleTop{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width:90px;
    height:90px;
    background-color: transparent;
    border-radius: 50%;
    border: 10px solid rgb(155, 215, 255);
    margin: 13px;
}

.circle1  {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height:70px;
    width:70px;
    border-radius: 50%;
    box-shadow: inset 0px 4px 8px rgb(3, 30, 66);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(35, 77, 126);
    background-color: rgb(155, 215, 255);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.circle1:hover {
    box-shadow: 0px 2px 10px rgb(0, 20, 46);
    height:90px;
    width:90px;
}

@media only screen and (max-width:1400px){
    .circles {
      justify-content: center;
    }
    .menu {
      width: 100%;
    }
    
}

@media only screen and (max-width:700px){
    
    .menu {
      display: none;
    }

    
    
}
