
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    font-size: 3.4rem;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(155, 215, 255);
    word-spacing: 2px;
    text-shadow: 0px 0px 4px rgb(0, 0, 0);
}

.webdev {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    font-family:'Times New Roman', Times, serif;
    color: rgb(155, 215, 255);
    text-shadow: 0px 0px 4px rgb(0, 0, 0);
    font-size: 1.6rem;
    word-spacing: 6px;
    letter-spacing: 8px;

}

@media only screen and (max-width: 1400px){
    .name, .webdev {
        justify-content: center;
    }
    .webdev {
       font-size: 1.5rem;
       word-spacing: .1875em;
       letter-spacing: .375em;
    }
}

@media only screen and (max-width: 700px){
    .name {
        font-size: 1.9rem;
    }
    .webdev {
        font-size: .8rem;
        word-spacing: 3px;
        letter-spacing: 5px;
    }
}

@media only screen and (max-width: 370px){

    .name {
        font-size: 1.8rem;
    }
    .webdev {
        font-size: .8rem;
        word-spacing: 1px;
        letter-spacing: 4px;
    }
}
